<html lang="en">

<%-include('./partials/header.ejs') %>

    <body>
        <%-include('./partials/nav.ejs') %>
        <h1>
            Hi from about!
        </h1>

        <p>super cool description</p>
        
        <%- include("./partials/footer.ejs") %>

    </body>

</html>